#body-roadster {
  color: #ffffff;
  background: black;
  font-family: 'Montserrat', sans-serif;
}

#hero-roadster {
  background: url("../img/roadster%20-%20hero-mobile.jpg") center/cover no-repeat, #ffffff;
  width: 100%;
  height: 100vh;
}

@media (min-width: 768px) {
  #hero-roadster {
    background: url("../img/roadster%20-%20hero.jpg") center/cover no-repeat, #ffffff;
    width: 100%;
    height: 100vh;
  }
}

.p-arriba-roadster {
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.p-abajo-roadster {
  font-size: 13px;
}

.p-arriba-roadster span {
  font-size: 15px;
}

.hero-p-roadster {
  font: normal 16px "Montserrat", sans-serif;
  color: #ffffff;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 1px;
}

#videoConTabla-roadster {
  text-align: center;
}

#videoConTabla-roadster iframe {
  width: 90%;
  height: 400px;
}

@media (min-width: 992px) {
  #videoConTabla-roadster iframe {
    width: 900px;
    height: 500px;
  }
}

#stats-roadster {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

#stats-roadster thead th {
  text-align: left;
  padding-left: 0px;
}

#stats .datosIzq {
  text-align: left;
  padding-left: 0px;
}

#stats-roadster .datosDer {
  text-align: right;
  font-weight: bold;
  padding-right: 2px;
}

#stats-roadster .table {
  color: #f8fcff;
  text-align: start;
}

@media (min-width: 768px) {
  #stats-roadster {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 145px;
    font-size: 15px;
  }
}

#aero-roadster {
  background: url("../img/roadster%20-%20back.jpg") center/cover no-repeat, #ffffff;
  width: 100%;
  height: 100vh;
}

#aero-roadster .container {
  margin-top: 330px;
}

@media (min-width: 300px) {
  #aero-roadster h3 {
    text-align: center;
  }
}

@media (min-width: 300px) {
  #aero-roadster p {
    font: normal 16px "Montserrat", sans-serif;
    color: #ffffff;
    text-align: center;
  }
}

#interior-roadster {
  width: 100%;
  height: 60vh;
}

#interior-roadster .figure {
  max-width: 90%;
}

#interior-roadster figcaption {
  color: white;
  padding-top: 12px;
}

@media (min-width: 768px) {
  #interior-roadster {
    width: 100%;
    height: 100vh;
  }
}

@media (min-width: 768px) {
  #interior-roadster .figure {
    max-width: 75%;
  }
}

#vistaDearriba-roadster {
  background: url("../img/roadster%20-%20top.jpg") center/cover no-repeat, #ffffff;
  width: 100%;
  height: 120vh;
}

#vistaDearriba-roadster .container {
  margin-bottom: 43px;
}

.footer-basic-roadster {
  padding: 47px 0;
  background-color: #000000;
  color: #bab8b8;
  font-family: 'Montserrat';
}

.footer-basic-roadster ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 0;
  height: 0;
  margin-top: 2px;
}

.footer-basic-roadster li:not(:last-child) {
  padding-right: 5px;
  border-right: 1px solid;
  border-color: rgba(247, 247, 247, 0.23);
}

.footer-basic-roadster ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

#lineaVertical-roadster {
  height: 179px;
  width: 1px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.33);
  margin-top: -50px;
}

#backToTop-roadster .cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(252, 252, 252, 0) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

#backToTop-roadster .cd-top.cd-top--show, #backToTop-roadster .cd-top.cd-top--fade-out, #backToTop-roadster .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

#backToTop-roadster .cd-top.cd-top--show {
  visibility: visible;
  opacity: 1;
}

#backToTop-roadster .cd-top.cd-top--fade-out {
  opacity: .5;
}

#backToTop-roadster .cd-top:hover {
  background-color: rgba(232, 98, 86, 0);
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

@font-face {
  font-family: 'TESLA';
  src: url(../fonts/TESLA.woff2) format("woff2"), url(../fonts/TESLA.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #000000;
  background: #dbdbdb;
  font-family: 'Montserrat', sans-serif;
}

#hero-sexy {
  width: 100%;
  height: 100vh;
  background: url("../img/mshero-mobile.jpg") center/cover no-repeat, #ffffff;
}

@media (min-width: 768px) {
  #hero-sexy {
    background: url("../img/mshero.jpg") center/cover no-repeat, #ffffff;
    margin-bottom: 38px;
  }
}

.navbar-brand {
  font-size: 22px;
  font-family: TESLA;
  letter-spacing: 5px;
  line-height: 37px;
}

#navcol-1 {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  color: #fcfcfc;
  font-weight: bold;
  margin-left: -16px !important;
}

.p-arriba {
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  color: black;
}

.p-abajo {
  font-size: 13px;
  color: black;
}

.p-arriba span {
  font-size: 15px;
}

.boton-reserva {
  background: rgba(39, 128, 227, 0);
  font-family: Montserrat, sans-serif;
  color: #f8fbfc;
  border: 5px solid #ffffff;
}

.flechitaBoton {
  color: #ffffff;
  font-size: 33px;
}

#hero-abajo .container {
  max-width: 700px;
  text-align: center;
}

#subtitulo {
  font: bold 43px "Montserrat", sans-serif;
  color: #393838;
  padding-left: 49px;
  padding-top: 11px;
}

#navRoadster {
  margin-right: 10px;
}

.hero-p {
  font: normal 16px "Montserrat", sans-serif;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 7px;
}

.conBorde {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.21);
}

.boton-reserva {
  width: 219px;
  text-align: center;
  border-radius: 9px;
  border-width: 1px;
  border-style: solid;
  height: 47.4px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 6px;
}

.sexy-nav {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 20px;
}

#menuMobile {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  border-style: none;
}

#border-menu-mobile {
  width: 57.1px;
  height: 24.2px;
  padding: 3px 4px;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-right: 4px;
}

.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff0505;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}

.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#modalProx {
  background: #dc1313;
  -webkit-box-shadow: 1px 3px 8px 6px;
          box-shadow: 1px 3px 8px 6px;
  text-shadow: 0px 0px;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border-style: solid;
  border-color: #765b5b;
  border-radius: 35px;
  margin-left: 22px;
  margin-right: 88px;
}

.modal-p {
  color: #440d0d;
  font-family: TESLA;
  letter-spacing: 1px;
  margin-bottom: -6px;
  margin-left: 1px;
}

.modal-content {
  background-color: #fff0;
  border-color: #fff0;
  margin-left: 34px;
}

#videoConTabla-sexy {
  text-align: center;
}

#videoConTabla-sexy iframe {
  width: 90%;
  margin-top: 38px;
  height: 300px;
}

#stats {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 30px;
}

#stats thead th {
  text-align: left;
  padding-left: 0px;
}

#stats .datosIzq {
  text-align: left;
  padding-left: 0px;
}

#stats .datosDer {
  text-align: right;
  font-weight: bold;
  padding-right: 2px;
}

#stats .table {
  color: #020202;
}

#aero-sexy {
  width: 100%;
  height: 100vh;
  background: url("../img/msprofile.jpg") center/cover no-repeat;
}

#aero-sexy .container {
  margin-top: 677px;
  color: white;
}

@media (min-width: 768px) {
  #aero-sexy .container {
    margin-top: 677px;
    color: whitesmoke;
  }
}

#interior-sexy {
  width: 100%;
  height: 60vh;
  margin-top: 30px;
}

#interior-sexy .figure {
  max-width: 90%;
}

#interior-sexy figcaption {
  color: black;
  padding-top: 12px;
}

#captionSpan {
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
}

#vistaDearriba-sexy {
  width: 100%;
  height: 32vh;
  background: url("../img/mstransparent.png") center/cover no-repeat;
}

#vistaDearriba-sexy .container {
  margin-bottom: -270px;
}

.footer-basic {
  padding: 47px 0;
  color: #000000;
  font-family: 'Montserrat';
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(32%, #a8a8a8), to(black)), #c5c2c2;
  background: linear-gradient(white 0%, #a8a8a8 32%, black 100%), #c5c2c2;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 0;
  height: 0;
  margin-top: 2px;
  color: white;
}

#botonReservaFooter {
  margin: 25px;
  margin-bottom: 45px;
}

.footer-basic li:not(:last-child) {
  padding-right: 5px;
  border-right: 1px solid;
  border-color: rgba(247, 247, 247, 0.23);
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

#lineaVertical {
  height: 179px;
  width: 1px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.33);
  margin-top: 246px;
  border-color: #000000;
}

body.overflow-hidden {
  overflow: hidden;
}

#side-menu {
  display: none;
  position: fixed;
  width: 300px;
  top: 0;
  right: -300px;
  height: 100%;
  overflow-y: auto;
  z-index: 1035;
  background: #fff;
  padding: 20px 30px;
  color: #333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body.side-menu-visible #side-menu {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

#side-menu .contents {
  margin-top: 15px;
}

#side-menu .nav-link {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 0;
}

#side-menu .nav-link:hover {
  opacity: 0.8;
}

#side-menu .close {
  font-size: 36px;
  font-weight: normal;
}

.side-menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
}

#side-menu.side-menu-left {
  right: auto;
  left: -300px;
}

body.side-menu-visible #side-menu.side-menu-left {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}

#side-menu .close {
  font-size: 16px;
  border: none;
  border-radius: 21px;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url("../img/cd-top-arrow.svg") center 50% no-repeat, rgba(0, 0, 0, 0.15);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  border-radius: 35px;
  border-width: 0px;
}

.cd-top.cd-top--show, .cd-top.cd-top--fade-out, .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  opacity: .5;
}

.cd-top:hover {
  background-color: rgba(232, 98, 86, 0);
  opacity: 1;
}

@media only screen and (min-width: 992px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

.contact-clean {
  background: #3a4249;
  padding: 16px 0;
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 19px;
  color: #ffffff;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat';
  background: #3e3232;
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  color: black;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
  color: black;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 14px 32px;
  border: none;
  border-radius: 15px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3.4px;
  line-height: 1;
  outline: none !important;
  font-family: 'TESLA';
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #980808 !important;
  margin-top: 15px;
  color: #fff;
}

@media (max-width: 768px) {
  .contact-clean {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .contact-clean form {
    padding: 30px;
  }
}

#modal2 {
  width: 332px;
  margin: -19px 0px 0px 17px;
  margin-top: -14px;
  margin-right: 4px;
  margin-bottom: -9px;
  color: rgba(255, 255, 255, 0);
}

#modal2 .modal-dialog {
  margin: 5.5rem;
}

@media (min-width: 768px) {
  #aero-sexy {
    margin-bottom: 300px;
  }
}

@media (min-width: 768px) {
  #stats {
    width: 600px;
    margin: 0 auto;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  #videoConTabla-sexy iframe {
    width: 915px;
    height: 500px;
  }
}

@media (min-width: 768px) {
  #vistaDearriba-sexy {
    height: 80vh;
  }
}

@media (min-width: 1200px) {
  #vistaDearriba-sexy {
    height: 90vh;
  }
}

@media (min-width: 1200px) {
  #aero-sexy .container {
    margin-top: 850px;
    color: whitesmoke;
  }
}

#hero-m3 {
  width: 100%;
  height: 100vh;
  background: url("../img/model3hero-mobile.jpg") center/cover no-repeat, #ffffff;
}

@media (min-width: 768px) {
  #hero-m3 {
    background: url("../img/model3hero.jpg") center/cover no-repeat, #ffffff;
    margin-bottom: 38px;
  }
}

#aero-m3 {
  width: 100%;
  height: 100vh;
  background: url(../img/m3-black.jpg) center/cover no-repeat;
}

#aero-m3 .container {
  margin-top: 677px;
  color: white;
}

@media (min-width: 768px) {
  #aero-m3 {
    margin-bottom: 300px;
  }
}

@media (min-width: 768px) {
  #aero-m3 .container {
    margin-top: 677px;
    color: whitesmoke;
  }
}

@media (min-width: 1200px) {
  #aero-m3 .container {
    margin-top: 850px;
    color: whitesmoke;
  }
}

#interior-m3 {
  width: 100%;
  height: 60vh;
  margin-top: 30px;
}

#interior-m3 .figure {
  max-width: 90%;
}

#interior-m3 figcaption {
  color: black;
  padding-top: 12px;
}

#vistaDearriba-m3 {
  width: 100%;
  height: 32vh;
  background: url("../img/m3transparent.png") center/cover no-repeat;
}

#vistaDearriba-m3 .container {
  margin-bottom: -270px;
}

@media (min-width: 768px) {
  #vistaDearriba-m3 {
    height: 80vh;
  }
}

@media (min-width: 1200px) {
  #vistaDearriba-m3 {
    height: 90vh;
  }
}

#lineaVertical-m3 {
  height: 179px;
  width: 1px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.33);
  margin-top: 250px;
  border-color: #000000;
}

@media (min-width: 768px) {
  #oculto {
    visibility: hidden;
  }
}

.titulo {
  font: bold 43px "Montserrat", sans-serif;
  color: #393838;
  text-decoration: none;
  margin-top: 50px;
}

#seccion-ms {
  width: 100%;
  height: 100vh;
  background: url("../img/mshero-mobile.jpg") center/cover no-repeat, #ffffff;
}

@media (min-width: 768px) {
  #seccion-ms {
    width: 100%;
    height: 100vh;
    background: url("../img/mshero.jpg") center/cover no-repeat, #ffffff;
  }
}

#seccion-m3 {
  width: 100%;
  height: 100vh;
  background: url("../img/model3hero-mobile.jpg") center/cover no-repeat, #ffffff;
}

@media (min-width: 768px) {
  #seccion-m3 {
    width: 100%;
    height: 100vh;
    background: url("../img/model3hero.jpg") center/cover no-repeat, #ffffff;
  }
}

#seccion-mx {
  width: 100%;
  height: 100vh;
  background: url("../img/mxhero-mobile.jpg") center/cover no-repeat, #ffffff;
}

@media (min-width: 768px) {
  #seccion-mx {
    width: 100%;
    height: 100vh;
    background: url("../img/mxhero.jpg") center/cover no-repeat, #ffffff;
  }
}

#seccion-my {
  width: 100%;
  height: 100vh;
  background: url("../img/myhero-mobile.jpg") center/cover no-repeat, #ffffff;
}

@media (min-width: 768px) {
  #seccion-my {
    width: 100%;
    height: 100vh;
    background: url("../img/myhero.jpg") center/cover no-repeat, #ffffff;
  }
}

#hero-mx {
  width: 100%;
  height: 100vh;
  background: url("../img/mxhero-mobile.jpg") center/cover no-repeat, #ffffff;
}

@media (min-width: 768px) {
  #hero-mx {
    background: url("../img/mxhero.jpg") center/cover no-repeat, #ffffff;
    margin-bottom: 38px;
  }
}

#hero-abajo-mx .container {
  max-width: 700px;
  text-align: center;
  color: #ffffff;
}

.p-arriba-mx {
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  color: white;
}

.p-abajo-mx {
  font-size: 13px;
  color: white;
}

.p-arriba-mx span {
  font-size: 15px;
}

#aero-mx {
  width: 100%;
  height: 100vh;
  background: url(../img/mxprofile.jpg) center/cover no-repeat;
}

#aero-mx .container {
  margin-top: 677px;
  color: white;
}

@media (min-width: 768px) {
  #aero-mx {
    margin-bottom: 300px;
  }
}

@media (min-width: 768px) {
  #aero-mx .container {
    margin-top: 677px;
    color: whitesmoke;
  }
}

@media (min-width: 1200px) {
  #aero-mx .container {
    margin-top: 850px;
    color: whitesmoke;
  }
}

#interior-mx {
  width: 100%;
  height: 60vh;
  margin-top: 30px;
}

#interior-mx .figure {
  max-width: 90%;
}

#interior-mx figcaption {
  color: black;
  padding-top: 12px;
}

#vistaDearriba-mx {
  width: 100%;
  height: 32vh;
  background: url("../img/mxtransparent.png") center/cover no-repeat;
}

#vistaDearriba-mx .container {
  margin-bottom: -270px;
}

@media (min-width: 768px) {
  #vistaDearriba-mx {
    height: 80vh;
  }
}

@media (min-width: 1200px) {
  #vistaDearriba-mx {
    height: 90vh;
  }
}

#lineaVertical-mx {
  height: 179px;
  width: 1px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.33);
  margin-top: 250px;
  border-color: #000000;
}

#hero-my {
  width: 100%;
  height: 100vh;
  background: url("../img/myhero-mobile.jpg") center/cover no-repeat, #ffffff;
}

@media (min-width: 768px) {
  #hero-my {
    background: url("../img/myhero.jpg") center/cover no-repeat, #ffffff;
    margin-bottom: 38px;
  }
}

#hero-abajo-my .container {
  max-width: 700px;
  text-align: center;
  color: #000000;
}

.p-arriba-my {
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  color: black;
}

.p-abajo-my {
  font-size: 13px;
  color: black;
}

.p-arriba-my span {
  font-size: 15px;
}

#aero-my {
  width: 100%;
  height: 100vh;
  background: url(../img/myprofile.jpg) center/cover no-repeat;
}

#aero-my .container {
  margin-top: 677px;
  color: white;
}

@media (min-width: 768px) {
  #aero-my {
    margin-bottom: 300px;
  }
}

@media (min-width: 768px) {
  #aero-my .container {
    margin-top: 677px;
    color: whitesmoke;
  }
}

@media (min-width: 1200px) {
  #aero-my .container {
    margin-top: 850px;
    color: whitesmoke;
  }
}

#interior-my {
  width: 100%;
  height: 60vh;
  margin-top: 30px;
}

#interior-my .figure {
  max-width: 90%;
}

#interior-my figcaption {
  color: black;
  padding-top: 12px;
}

#vistaDearriba-my {
  width: 100%;
  height: 32vh;
  background: url("../img/mytransparent.png") center/cover no-repeat;
}

#vistaDearriba-my .container {
  margin-bottom: -270px;
}

@media (min-width: 768px) {
  #vistaDearriba-my {
    height: 80vh;
  }
}

@media (min-width: 1200px) {
  #vistaDearriba-my {
    height: 90vh;
  }
}

#lineaVertical-my {
  height: 179px;
  width: 1px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.33);
  margin-top: 250px;
  border-color: #000000;
}

.s3xy {
  width: 100%;
  background: url("/img/tesla-sexy-mobile.jpg") center/cover no-repeat;
  height: 100vh;
}

@media (min-width: 768px) {
  .s3xy {
    width: 100%;
    background: url("/img/tesla-sexy.jpg") center/cover no-repeat;
    height: 100vh;
  }
}

.plot {
  color: white;
  text-align: center;
}

.plot2 {
  text-align: center;
  color: black;
}

@media (min-width: 768px) {
  .videoFsd {
    width: 560px;
    height: 315px;
  }
}

#galery {
  margin-top: -97px;
}

#about {
  margin-top: 20px;
}

#lineaVertical-about {
  height: 120px;
  width: 1px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.33);
  border-color: #000000;
}
