@font-face {
  font-family: 'TESLA';
  src: url(../fonts/TESLA.woff2) format("woff2"), url(../fonts/TESLA.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  @include basestyle-sexy;
}

#hero-sexy {
  width: 100%;
  height: 100vh;
  background: url("../img/mshero-mobile.jpg") (center / cover) no-repeat, #ffffff;
}


@media (min-width: 768px) {
  #hero-sexy {
    background: url("../img/mshero.jpg") (center / cover) no-repeat, #ffffff;
    margin-bottom: 38px;
  }
}

//REUTILIZABLE

.navbar-brand {
  @include brand;
  line-height: 37px;
}

//REUTILIZABLE

#navcol-1 {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  color: rgb(252, 252, 252);
  font-weight: bold;
  margin-left: -16px !important;

}

.p-arriba {
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  color: rgb(0, 0, 0);
}

.p-abajo {
  font-size: 13px;
  color: rgb(0, 0, 0);
}

.p-arriba span {
  font-size: 15px;
}

//REUTILIZABLE

.boton-reserva {
  background: rgba(39, 128, 227, 0);
  font-family: Montserrat, sans-serif;
  color: #f8fbfc;
  border: 5px solid #ffffff;
}

.flechitaBoton {
  color: #ffffff;
  font-size: 33px;
}

//REUTILIZABLE

#hero-abajo {
  .container {
  max-width: 700px;
  text-align: center;
  }
}  

//REUTILIZABLE

#subtitulo {
  font: $fonthero;
  color: $colorhero;
  padding-left: 49px;
  padding-top: 11px;
}

//REUTILIZABLE

#navRoadster {
  margin-right: 10px;
}


.hero-p {
  font: $fontp;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 7px;
}

.conBorde {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.21);
}

//REUTILIZABLE

.boton-reserva {
  width: 219px;
  text-align: center;
  border-radius: 9px;
  border-width: 1px;
  border-style: solid;
  height: 47.4px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 6px;
}

//REUTILIZABLE

.sexy-nav {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 20px;
}

//REUTILIZABLE

#menuMobile {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  border-style: none;
}

//REUTILIZABLE

#border-menu-mobile {
  width: 57.1px;
  height: 24.2px;
  padding: 3px 4px;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-right: 4px;
}

.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;

  //background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff0505;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover, &:focus, &:active {
    color: white;
  }

  &:hover:before, &:focus:before, &:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;

  &:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }

  &:hover, &:focus, &:active {
    transform: translateY(-5px);
  }

  &:hover:before, &:focus:before, &:active:before {
    opacity: 1;
    transform: translateY(5px);
  }
}

#modalProx {
  background: #dc1313;
  box-shadow: 1px 3px 8px 6px;
  text-shadow: 0px 0px;
  transform: scale(1.15);
  border-style: solid;
  border-color: rgb(118, 91, 91);
  border-radius: 35px;
  margin-left: 22px;
  margin-right: 88px;
}

.modal-p {
  color: #440d0d;
  font-family: TESLA;
  letter-spacing: 1px;
  margin-bottom: -6px;
  margin-left: 1px;
}

.modal-content {
  background-color: #fff0;
  border-color: #fff0;
  margin-left: 34px;
}

#videoConTabla-sexy {
  text-align: center;

  iframe {
    width: 90%;
    margin-top: 38px;
    height: 300px;
  }
}


#stats {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 30px;
 
  thead {
    th {
    text-align: left;
    padding-left: 0px;
  }
  }

  .datosIzq {
    text-align: left;
    padding-left: 0px;
  }

  .datosDer {
    text-align: right;
    font-weight: bold;
    padding-right: 2px;
  }

  .table {
    color: #020202;
  }
}

//MODEL-S
#aero-sexy {
  width: 100%;
  height: 100vh;
  background: url("../img/msprofile.jpg") (center / cover) no-repeat;

  .container {
    margin-top: 677px;
    color: rgb(255, 255, 255);
  }
}

@media (min-width: 768px) {
  #aero-sexy .container {
    margin-top: 677px;
    color: rgb(245, 245, 245);
  }
}

#interior-sexy {
  width: 100%;
  height: 60vh;
  margin-top: 30px;

  .figure {
    max-width: 90%;
  }

  figcaption {
    color: rgb(0, 0, 0);
    padding-top: 12px;
  }
}

#captionSpan {
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
}

#vistaDearriba-sexy {
  width: 100%;
  height: 32vh;
  background: url("../img/mstransparent.png") (center / cover) no-repeat;

  .container {
    margin-bottom: -270px;
  }
}

.footer-basic {
  padding: 47px 0;
  color: #000000;
  font-family: 'Montserrat';
  background: linear-gradient(white 0%, rgb(168, 168, 168) 32%, black 100%), #c5c2c2;

  ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 0;
    height: 0;
    margin-top: 2px;
    color: rgb(255, 255, 255);
  }
}

#botonReservaFooter {
  margin: 25px;
  margin-bottom: 45px;
}

.footer-basic {
  li:not(:last-child) {
    padding-right: 5px;
    border-right: 1px solid;
    border-color: rgba(247, 247, 247, 0.23);
  }

  ul {
    a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
}
}

#lineaVertical {
  height: 179px;
  width: 1px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.33);
  margin-top: 246px;
  border-color: #000000;
}

//Barra de Navegacion tuneada

body.overflow-hidden {
  overflow: hidden;
}

#side-menu {
  display: none;
  position: fixed;
  width: 300px;
  top: 0;
  right: -300px;
  height: 100%;
  overflow-y: auto;
  z-index: 1035;
  background: #fff;
  padding: 20px 30px;
  color: #333;
  transition: 0.4s;
}

body.side-menu-visible {
  #side-menu {
  transform: translateX(-300px);
  }
}  

#side-menu {
  .contents {
    margin-top: 15px;
  }

  .nav-link {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0;

    &:hover {
      opacity: 0.8;
    }
  }

  .close {
    font-size: 36px;
    font-weight: normal;
  }
}

.side-menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
}

#side-menu.side-menu-left {
  right: auto;
  left: -300px;
}

body.side-menu-visible #side-menu.side-menu-left {
  transform: translateX(300px);
}

#side-menu {
  .close {
  font-size: 16px;
  border: none;
  border-radius: 21px;
  }
}  

//fin de barra tuneada

//boton volver arriba

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url("../img/cd-top-arrow.svg") center 50% no-repeat, rgba(0, 0, 0, 0.15);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  border-radius: 35px;
  border-width: 0px;

  &.cd-top--show, &.cd-top--fade-out, &:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  }

  &.cd-top--show {
    visibility: visible;
    opacity: 1;
  }

  &.cd-top--fade-out {
    opacity: .5;
  }

  &:hover {
    background-color: rgba(232, 98, 86, 0);
    opacity: 1;
  }
}

@media only screen and (min-width: 992px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

//MODAL DE CONTACTO

.contact-clean {
  background: #3a4249;
  padding: 16px 0;

  form {
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 19px;
    color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat';
    background: #3e3232;
  }

  h2 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 36px;
    color: inherit;
  }

  form {
    .form-control {
      background: #fff;
      border-radius: 16px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
      outline: none;
      color: rgb(0, 0, 0);
      padding-left: 12px;
      height: 42px;

      &:focus {
        border: 1px solid #b2b2b2;
        color: rgb(0, 0, 0);
      }
    }

    textarea.form-control {
      min-height: 100px;
      max-height: 260px;
      padding-top: 10px;
      resize: vertical;
    }

    .btn {
      padding: 14px 32px;
      border: none;
      border-radius: 15px;
      background: none;
      box-shadow: none;
      text-shadow: none;
      opacity: 0.9;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 3.4px;
      line-height: 1;
      outline: none !important;
      font-family: 'TESLA';

      &:hover {
        opacity: 1;
      }

      &:active {
        transform: translateY(1px);
      }
    }

    .btn-primary {
      background-color: #980808 !important;
      margin-top: 15px;
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .contact-clean {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .contact-clean form {
    padding: 30px;
  }
}

#modal2 {
  width: 332px;
  margin: -19px 0px 0px 17px;
  margin-top: -14px;
  margin-right: 4px;
  margin-bottom: -9px;
  color: rgba(255, 255, 255, 0);

  .modal-dialog {
    margin: 5.5rem;
}  
}

//MEDIAS QUERIES

@media (min-width: 768px) {
  #aero-sexy {
 margin-bottom: 300px;
}
}
@media (min-width: 768px) {
  #stats{
  width: 600px;
  margin: 0 auto;
  font-size: 15px;
  }
}    

@media (min-width: 768px) {
  #videoConTabla-sexy{
    iframe{
    width: 915px;
    height: 500px;
    }
  }
}  

@media (min-width: 768px) {
#vistaDearriba-sexy {
  height: 80vh;
  } 
}  

@media (min-width: 1200px) { 
  #vistaDearriba-sexy {
    height: 90vh;
  } 
}

@media (min-width: 1200px) {
  #aero-sexy .container {
    margin-top: 850px;
    color: rgb(245, 245, 245);
  }
}