.s3xy {
  width: 100%;
  background: url("/img/tesla-sexy-mobile.jpg") center / cover no-repeat;
  height: 100vh;
}

@media (min-width: 768px) {
  .s3xy {
    width: 100%;
    background: url("/img/tesla-sexy.jpg") center / cover no-repeat;
    height: 100vh;
  }
}

.plot {
  color: rgb(255,255,255);
  text-align: center;
}

.plot2 {
  text-align: center;
  color: rgb(0,0,0);
}

@media (min-width: 768px) {
  .videoFsd {
    width: 560px;
    height: 315px;
  }
}

#galery {
  margin-top: -116px;
  margin-bottom: -238px;
}

#about {
  margin-top: 20px;
}

