
#hero-m3 {
    width: 100%;
    height: 100vh;
    background: url("../img/model3hero-mobile.jpg") (center / cover) no-repeat, #ffffff;
}

  
  
  @media (min-width: 768px) {
    #hero-m3 {
      background: url("../img/model3hero.jpg") (center / cover) no-repeat, #ffffff;
      margin-bottom: 38px;
    }
  }

  #aero-m3 {
    width: 90%;
    height: 69vh;
    background: url("../img/m3-black.jpg") (center / contain) no-repeat;
    margin-bottom: 185px;
    margin-left: 20px;
      
    .container {
      margin-top: 431px;
      color: rgb(0, 0, 0);
    }
  }

  @media (min-width: 576px) {
    #aero-m3 {
      width: 90%;
      height: 85vh;
      background: url("../img/m3-black.jpg") (center / contain) no-repeat;
      margin-bottom: 84px;
      margin-left: 20px;
    }
  }
  
  @media (min-width: 992px) {
    #aero-m3 {
      width: 92%;
      height: 67vh;
      background: url("../img/m3-black.jpg") (center / cover) no-repeat;
      margin-bottom: 92px;
      margin-right: 0px;
      margin-left: 36px;
      margin-top: -42px;
    }
  }
  
  @media (min-width: 768px) {
    #aero-m3 .container {
      margin-top: 518px;
      color: rgb(0, 0, 0);
    }
  }
  
  @media (min-width: 992px) {
    #aero-m3 .container {
      margin-top: 432px;
      color: rgb(255, 255, 255);
    }
  }
  
  @media (min-width: 300px) {
    #aero-m3 h3 {
      text-align: center;
    }
  }
  
  @media (min-width: 300px) {
    #aero-m3 p {
      text-align: center;
    }
  }
  
  #vistaDearriba-m3 {
    width: 100%;
    height: 70vh;
    background: url("../img/m3transparent.png") (center / cover) no-repeat;
    
  
    .container {
      margin-bottom: -176px;
    }
  }   


  


