
#hero-my {
    width: 100%;
    height: 100vh;
    background: url("../img/myhero-mobile.jpg") (center / cover) no-repeat, #ffffff;
}

    
  @media (min-width: 768px) {
    #hero-my {
      background: url("../img/myhero.jpg") (center / cover) no-repeat, #ffffff;
      margin-bottom: 38px;
    }
  }

  #hero-abajo-my .container {
    max-width: 700px;
    text-align: center;
    color: #000000
  }
  .p-arriba-my {
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
  }
  
  .p-abajo-my {
    font-size: 13px;
    color: rgb(0, 0, 0);
  }
  
  .p-arriba-my span {
    font-size: 15px;
  }



  #aero-my {
    width: 100%;
    height: 100vh;
    background: url(../img/myprofile.jpg) center/cover no-repeat;

    .container {
      margin-top: 677px;
      color: rgb(255, 255, 255);
    }
  }

  @media (min-width: 768px) {
    #aero-my {
   margin-bottom: 300px;
  }
  }


  @media (min-width: 768px) {
    #aero-my .container {
      margin-top: 677px;
      color: rgb(245, 245, 245);
    }
  }

  @media (min-width: 1200px) {
    #aero-my .container {
      margin-top: 850px;
      color: rgb(245, 245, 245);
    }
  }

  #interior-my {
    width: 100%;
    height: 60vh;
    margin-top: 30px;
  
    .figure {
      max-width: 90%;
    }
  
    figcaption {
      color: rgb(0, 0, 0);
      padding-top: 12px;
    }
  }

    #vistaDearriba-my {
      width: 100%;
      height: 32vh;
      background: url("../img/mytransparent.png") (center / cover) no-repeat;
      
      .container {
      margin-bottom: -270px;
    }
  }  

  @media (min-width: 768px) {
    #vistaDearriba-my {
      height: 80vh;
    } 
    }  
    
    @media (min-width: 1200px) { 
      #vistaDearriba-my {
        height: 90vh;
      } 
    }

  #lineaVertical-my {
    height: 179px;
    width: 1px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.33);
    margin-top: 250px;
    border-color: #000000;
}

  


