
#hero-m3 {
    width: 100%;
    height: 100vh;
    background: url("../img/model3hero-mobile.jpg") (center / cover) no-repeat, #ffffff;
}

  
  
  @media (min-width: 768px) {
    #hero-m3 {
      background: url("../img/model3hero.jpg") (center / cover) no-repeat, #ffffff;
      margin-bottom: 38px;
    }
  }

  #aero-m3 {
    width: 90%;
    height: 70vh;
    background: url(../img/m3-black.jpg) center/contain no-repeat;
    margin-bottom: 248px;
    margin-top: 84px;
    margin-left: 33px;
      
    .container {
      margin-top: 550px;
      color: rgb(0, 0, 0);
    }
  }

    #vistaDearriba-m3 {
      width: 100%;
      height: 100vh;
      background: url("../img/m3transparent-mobile.png") (center / contain) no-repeat;
      

      .container {
      margin-bottom: 102px;
    }
  }  

  #lineaVertical-m3 {
    height: 179px;
    width: 1px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.33);
    margin-top: -50px;
    border-color: #000000;
}

  


