
#hero-my {
    width: 100%;
    height: 100vh;
    background: url("../img/myhero-mobile.jpg") (center / cover) no-repeat, #ffffff;
}

    
  @media (min-width: 768px) {
    #hero-my {
      background: url("../img/myhero.jpg") (center / cover) no-repeat, #ffffff;
      margin-bottom: 38px;
    }
  }

 
  #aero-my {
    width: 100%;
    height: 100vh;
    background: url(../img/myprofile.jpg) center/cover no-repeat;

    .container {
      margin-top: 677px;
      color: rgb(255, 255, 255);
    }
  }

 
    #vistaDearriba-my {
      width: 100%;
      height: 32vh;
      background: url("../img/mytransparent.png") (center / cover) no-repeat;
      
      .container {
      margin-bottom: -270px;
    }
  }  
