//mixin para estilos sexy-roadster
@mixin basestyle-roadster {
    color: $color-roadster;
    background: $background-roadster;
    font-family: 'Montserrat', sans-serif;
}

@mixin basestyle-sexy {
    color: $color-sexy;
    background: $background-sexy;
    font-family: 'Montserrat', sans-serif;
}


//mixin para estilos de marca banner
@mixin brand {
    font-size: 22px;
    font-family: TESLA;
    letter-spacing: 5px;
}


