$fonthero: bold 43px 'Montserrat', sans-serif; 
$colorhero: #393838;
$fontp: normal 16px 'Montserrat', sans-serif;
$color-sexy: #000000;
$background-sexy:  rgb(219, 219, 219);
$color-roadster: #ffffff;
$background-roadster: rgb(0, 0, 0);